@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    max-width: 1350px ;
    margin: 0 auto;
    font-family: 'Open Sans';
    @media screen and (max-width: 1680px) {
     max-width: 1000px ;
}
    @media screen and (max-width: 1366px) {
     max-width: 1000px ;
    }
    @media screen and (max-width: 1024px) {
     max-width: 660px ;
}
    @media screen and (max-width: 768px) {
     max-width: 560px ;
}
    @media screen and (max-width: 600px) {
     max-width: 450px ;
}
    @media screen and (max-width: 533px) {
     max-width: 300px ;
     margin: 0 auto;
}
    @media screen and (max-width: 360px) {
     max-width: 300px ;
     margin: 0 auto;
}
}

.product_list {
    @media screen and (max-width: 533px) {
      display: flex;
      flex-direction: column;
     max-width: 400px ;
     margin: 0 auto;
}
  &_btn {
    padding: 10px 30px;
    background-color: rgb(209, 91, 91);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgb(197, 60, 60);
    }
    &:active {
      background-color: rgb(146, 26, 26);
    }
  }
}

h1 {
    font-weight: 700;
font-size: 32px;
line-height: 100%;
}

h3 {
    font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #828282;
letter-spacing: 0.01em;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

